@model MVC.Models.Patient

@{
    ViewData["Title"] = "Popis svih pacijenata";
}

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-4">
            <a class="btn btn-primary" onclick="showAddModal()">Dodaj novog pacijenta</a>
        </div>                       
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr> 
                <th scope="col">Broj socijalnog osiguranja</th>                   
                <th scope="col">Ime i prezime</th>
                <th scope="col">Adresa</th>
                <th scope="col">Broj telefona</th>
                <th scope="col">Broj osiguranja</th>
                <th scope="col">Liječnik</th>
                <th scope="col">Akcije</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<div class="modal" id="addModal" style="margin-top: 100px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Dodaj pacijenta</h4>
                <button type="button" class="close" onclick="hideAddModal()">&times;</button>
            </div>

            <div class="modal-body">
                <form id="createForm">
                    <div class="form-group">
                        <label for="ime">Broj socijalnog osiguranja:</label>
                        <input asp-for="@Model.Ssn" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="ime">Ime i prezime:</label>
                        <input asp-for="@Model.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="prezime">Adresa:</label>
                        <input asp-for="@Model.Address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="trenutna_placa">Broj telefona:</label>
                        <input asp-for="@Model.Phone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="rodjendan">Broj osiguranja:</label>
                        <input asp-for="@Model.InsuranceId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Liječnik</label>
                        <select class="form-control" asp-for="@Model.Pcp">
                            <option selected disabled>Odaberite pacijenta</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Spremi</button>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="hideAddModal()">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Brisanje pacijenta</h5>
                <button type="button" class="close" onclick="hideDeleteModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="delId" />
                <p>Jeste li sigurni da želite obrisati pacijenta?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="hideDeleteModal()">Odustani</button>
                <button type="button" id="confirm" class="btn btn-primary">Potvrdi</button>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: "/Patients/GetAllPatients",
        success: function (data) {
            data.forEach(function (item) {
                $("tbody").append(`<tr><td>${item.ssn}</td><td>${item.name}</td><td>${item.address}</td><td>${item.phone}</td><td>${item.insuranceId}</td><td>${item.pcpNavigation.name}</td><td><a class="btn btn-secondary" onclick="update(${item.ssn})">Uredi</a>&nbsp;<a class="btn btn-danger" onclick="odm(${item.ssn})">Briši</a></td></tr>`);
            });
        },
        error: function (data) {
            console.log(data)
        }
    });

    function hideAddModal() {
        $('#addModal').hide()
    }

    function hideDeleteModal() {
        $('#deleteModal').hide()
    }

    function update(ssn) {
        window.location.href = `/Patients/Update/${ssn}`
    }

    function showAddModal(ssn) {
        $("#addModal").show();
    }

    function odm(ssn) {
        $("#delId").val(ssn);
        $("#deleteModal").show();
    }

    $("#confirm").on("click", function (e) {
        e.preventDefault();

        $.ajax({
            type: "DELETE",
            url: "Patients/Delete",
            data: { 'id': $("#delId").val() },
            success: function (data) {
                $("#deleteModal").hide();
                window.location.reload()
            }
        })
    })

    $("#createForm").on("submit", function (e) {
        e.preventDefault();

        $.ajax({
            type: "POST",
            url: "/Patients/CreatePatient",
            data: $("#createForm").serialize(),
            success: function (data) {
                alert('Pacijent uspjesno dodan.')
                window.location.href = "/Patients"
            },
            error: function (data) {
                console.log(data)
            }
        })
    });

    $.ajax({
        url: "/Physicians/GetAllPhysicians",
        success: function (data) {
            data.forEach(function (item) {
                $("#Pcp").append(`<option value="${item.employeeId}">${item.name}</option>`)                
            })
        },
        error: function (data) {
            console.log(data)
        }
    })
</script>
